torchvision==0.2.2
nvidia_ml_py3==7.352.0
gpustat==0.6.0
Cython==0.29.21
six==1.15.0
h5py==3.1.0
torch==1.0.1
tqdm==4.19.9
trimesh==3.8.19
transforms3d==0.3.1
numpy==1.19.4
addict==2.4.0
gorilla2d==0.2.0.3
pynvml==8.0.4
PyYAML==5.3.1
scikit_learn==0.23.2
tabulate==0.8.7
tensorboardX==2.1
torch_optimizer==0.0.1a17
yapf==0.30.0
gorilla-core